<div class="media-checkinbg"></div>
<div class="row center" ng-controller='CheckInCtrl'>
    <div class="searchbar col-sm-12" style="margin-top:20px">
        <!--<div><img src="view_checkin/vacation.jpg" style="display: block; margin-left:auto;margin-right:auto"></div>-->
        <div class="col-center"><h1 style="text-align: center;">Check In</h1></div>
        <div class="col-center"><h2 style="text-align: center; margin-bottom: 1em;color:#999999">Enjoy your trip.</h2></div>
        <div class="input-group" style="margin-top:30px">
            <input type="text" class="form-control" placeholder="Reservation Number..." ng-model="reservation.id">
              <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="checkIn()">Check In</button>
                  <button class="btn btn-default" type="button">Update Reservation</button>
              </span>
        </div><!-- /input-group -->
        <div class="col-center center" style="margin-top:0px">
            <span class="col-center center" ng-show="result.checkedIn">
                <p style="font-size:15px;color:#999999; text-align: center;">
                Reservation {{result.id}} checked in successfully!
                </p>
            </span>
        </div><!-- /.col-lg-8 -->
    </div><!-- /.col-lg-8 -->


</div><!-- /.row -->